name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install python3-venv
      run:  sudo apt-get install python3-venv
    - name: arrancado entorno virtual
      run:  source venv/bin/activate | pip install -r requirements.txt 
#    - name: install dependencies
#      run:  pip install -r requirements.txt
    - name: run tests
      run:  source venv/bin/activate | flake8 --exclude=venv* --statistics | pytest -v
#    - name: run tests
#      run: pytest -v
    - name: Build the Docker image
      run:  docker build. --file Dockerfile --tag $IMAGE_NAME
            #source venv/bin/activate | docker build -t $IMAGE_NAME:$TAG .
            #echo $DOCKER_PWD | docker login -u ${{ github.actor }} --password-stdin
            #docker push g3r5o1/$IMAGE_NAME:$TAG
